body {
    color: #32689b;
}
.contato {
    padding: 10px 20px;
}

.voltar {
    text-decoration: none;
    color: #ab59c4;
}

.rodape {
    position: absolute;
    bottom:0;
    text-align: justify;
    padding: 10px 20px;
}